# ==============================================================================
# NETWORKING ROLE MAIN TASKS
# ------------------------------------------------------------------------------
#
# Main task file for the Networking role.
# Detects the operating system and includes appropriate task files.
#
# ==============================================================================

---

- name: Detect operating system
  ansible.builtin.debug:
    msg: "Detected OS: {{ ansible_os_family }} ({{ ansible_distribution }} {{ ansible_distribution_version }})"
  tags:
    - always



## DEBIAN FAMILY TASKS BLOCK
# This block is run when "Debian" is the host operating systems
# ------------------------------------------------------------------------------

- name: Debian family tasks block
  when: ansible_os_family == "Debian"
  block:
    - name: Starting the Networking Debian Block
      ansible.builtin.debug:
        msg: "Starting tasks for Debian"
      tags:
        - always

    - name: Install and Configure SSH
      ansible.builtin.include_tasks: ssh-debian.yaml
      tags:
        - ssh

    - name: Configure UFW
      ansible.builtin.include_tasks: ufw-debian.yaml
      tags:
        - ufw

    - name: Install and Configure OpenVPN
      ansible.builtin.include_tasks: vpn-debian.yaml
      tags:
        - vpn
        - healthcheck

    - name: Install and Configure Wireguard VPN
      ansible.builtin.include_tasks: wireguard-debian.yaml
      tags:
        - wireguard
        - healthcheck

    - name: Configure VPN Kill Switch
      ansible.builtin.include_tasks: vpn-killswitch-yaml
      when: networking_vpn_kill_switch.enabled | default(false)
      tags:
        - vpn-kill-switch

    - name: Install Certbot and Retrieve TLS Certificates
      ansible.builtin.include_tasks: lets-encrypt-debian.yaml
      tags:
        - lets-encrypt

    - name: Install and Configure Nginx
      ansible.builtin.include_tasks: nginx-debian.yaml  
      tags:
        - nginx

    - name: Install UniFi OS
      ansible.builtin.include_tasks: unifi-os-debian.yaml
      when: ansible_os_family == "Debian"
      tags:
        - unifi-os

    - name: Install and Configure Homepage
      ansible.builtin.include_tasks: homepage-debian.yaml
      tags:
        - homepage

    - name: Install and Configure Glance (Debian)
      ansible.builtin.include_tasks: glance-debian.yaml
      when: networking_glance.install_method == "debian"
      tags:
        - glance

    - name: Install and Configure Glance (Docker)
      ansible.builtin.include_tasks: glance-docker.yaml
      when: networking_glance.install_method == "docker"
      tags:
        - glance

    - name: Install and Configure Arti
      ansible.builtin.include_tasks: arti-debian.yaml
      tags:
        - arti

    - name: Install and Configure I2PD
      ansible.builtin.include_tasks: i2pd-debian.yaml
      tags:
        - i2pd

    - name: Install and Configure DuckDNS
      ansible.builtin.include_tasks: duckdns-debian.yaml
      tags:
        - duckdns

    - name: Install and Configure Samba
      ansible.builtin.include_tasks: samba-debian.yaml
      tags:
        - samba

    - name: Install and Configure NFS Mounts
      ansible.builtin.include_tasks: nfs-mounts-debian.yaml
      tags:
        - nfs
    
    - name: Install and Configure Unifi Server OS
      ansible.builtin.include_tasks: unifi-os-debian.yaml
      tags:
        - unifi-os


## RedHat family tasks block
# ------------------------------------------------------------------------------
- name: Include RedHat-specific tasks
  when: ansible_os_family == "RedHat"
  block:
    - name: Starting the RedHat Block
      ansible.builtin.debug:
        msg: "Starting tasks for RedHat"



## Fail if unsupported operating system
# ------------------------------------------------------------------------------
- name: Fail if unsupported operating system
  ansible.builtin.fail:
    msg: "Unsupported operating system: {{ ansible_os_family }} ({{ ansible_distribution }})"
  when: ansible_system != "Linux" and ansible_os_family not in ["Debian", "RedHat"]

