// Send Arti Systemd Journal logs to Loki
loki.source.journal "{{ arti_systemd_name }}_logs" {
  matches = "_SYSTEMD_UNIT={{ arti_systemd_name }}.service"
  relabel_rules = loki.relabel.systemd_journal.rules
  forward_to = [loki.write.endpoint.receiver]
}