
//-- Scrape the {{ vpn_client_systemd_name }} jornald entries and foward to the
// openvpn processor for parsing
loki.source.journal "openvpn" {
  matches = "_SYSTEMD_UNIT={{ vpn_client_systemd_name }}.service"
  relabel_rules = loki.relabel.systemd_journal.rules
  forward_to = [loki.process.openvpn.receiver]
}


// Process the openvpn logs to extract useful fields and forward to the Loki 
// write endpoint
loki.process "openvpn" {
  forward_to = [loki.write.endpoint.receiver]
}
